.eye {
    position: relative;

    & > pre {
        display: none;
        font-size: 1.3em;
    }

    &.smaller-one > pre {
        font-size: 0.8em;
    }

    &.smaller-two > pre {
        font-size: 0.7em;
    }

    &.smaller-three > pre {
        font-size: 0.6em;
    }

    &.smaller-four > pre {
        font-size: 0.5em;
    }

    &.small > pre {
        font-size: 0.412em;
    }

    &.one > pre.eye-one {
        display: block;
    }

    &.two > pre.eye-two {
        display: block;
    }

    &.three > pre.eye-three {
        display: block;
    }

    &.four > pre.eye-four {
        display: block;
    }

    &.five > pre.eye-five {
        display: block;
    }
}
