<ng-container>
    <div class="eye {{ eyeClassDisplay }} {{ eyeClassAppearance }}">
        <pre class="eye-one">
.
.
.
.                              ...',;;:cccccccc:;,..
.                          ..,;:cccc::::ccccclloooolc;'.
.                       .',;:::;;;;:loodxkOkkxxkxxdocccc;;'..
.                     .,;;;,,;:coxldKNWWWMMMMWNNWWNNKkdolcccc:,.
.                  .',;;,',;lxo:...dXWMMMMMMMMWNkloOXNNNX0koc:coo;.
.               ..,;:;,,,:ldl'   .kWMMMWXXNWMMMMXd..':d0XWWN0d:;lkd,
.             ..,;;,,'':loc.     lKMMMNl. .cOKNWNK:  ..';lxO0XOl,cxo,.
.           ..''....'cooc.       cONMMX;   .lOXWND;       ,ddx0Ooccl:.
.         ..'..  .':odc.         .x0KKKkolcld000xc.       .cxxxkkdl:,..
.       ..''..   ;dxolc;'         .lxxO0OkkxxO0kc.      .;looolllol:'..
.      ..'..    .':lloolc:,..       'lxkkkkkOkd,   ..':clc:::;,,;:;,'..
.      ......   ....',;;;:ccc::;;,''',:loddol:,,;:clllolc:;;,'........
.          .     ....'''',,,;;:cccccclllloooollllccc:c:::;,'..
.                  .......'',,,,,,,,;;::::ccccc::::;;;,,''...
.                    ...............''',,,;;;,,''''''......
.                         ............................
.
        </pre>
        <pre class="eye-two">
.
.
.
.                               ...'',;;;;::;;;,'..
.                          ..,;:cloodddxxxkkkkkkkkxol;..
.                       .';codxxkkkOOOOOOOOOOOOkkkkkkxdoc,..
.                     .,codxkOOOO00000000OOOO0OOOOOOOOkkxddoc,..
.                  .':ldxkOOOOO00000000000000000000000OOOOkkxxol:'
.               .,:ldxkkOOOOOO000K000000000000000K000000000Okkxkkx:.
.            ..,coxkkOOOOOOOOOOOOOOOkkOOOOO0000OOOO000000000OOkxxxxl'
.           .,;codxxkkOOO0O00Okkk0KK0XNWWWWWWWWWNX0kkkkkOOOOOkkxdool;.
.         .';::ccldkO0KKKK0Ooc;..,x00KNNXXXXXNNX0OO000O00Okkkkkkxoc:,..
.       ..,;,'..,.O0OOOkkxo,       ,lkKKKKKK0K0d,.;ldkOO0KKOkxxxdoc:'..
.      ..,,'.  .,lkOxxxdol:,..       .,ldddl:,.   .,codkkOOkxdollc:,...
.      ..'.......',;:c::cclccc::;,,,',,;::::;,;;:clodddxdol:;::;'......
.         .....  ...''',,,;;;:ccllloooooooooooooolllcccc:;;,....
.                  .......''......;;;:::ccclllccc:::;;;,''...
.                   ...............'''',,;;;;;,,,''''......
.                         .............................
.
        </pre>
        <pre class="eye-three">
.
.
.
.                               ...'',;;;;;;;,,...
.                          ..,:loxkkOOO000KKKKKK0Oxdc,..
.                       .,coxO00KXXXXXXXXXXXXXXXXXXXK0Oxo:,..
.                    ..;lxO00KKKKK000000000000000KKKKXXXXK0Oxl;..
.                 ..,:oxkO0OO0OOOOOOOOOOOOOOOOOOOOOOO0000KKKKKKOd:.
.              ..;codxkkOOOkkkkkkkxxxxxxxxxxxxxxxxkkkkkkOOOO00KK0kl'
.            ..;ldxkkkkkkxxxxxddddddddddddddddddddddddxxxxxxkkkOOOxc.
.          ..,;oxxkkkkkxxxxdddddddddddddddddddddddddddddddddxxkkkkxl;.
.        ..,;codxxkkkxxddddddddddddddddddddddddddddddddxdxxxkOOOkxdo:..
.       .';::::cldkOOOkkkxxxxxxdddddddddddddddddddddxxxxxkkOOOOkxddl;..
.      .';:;,..,ckXXXKKK0KK00OkxkOdoddxxdddddddxxxxxxkkOOOOkkkkkxdoc,..
.      .',,''..,:oxxxxxxxkkxkkxkOOxxk000OOO000000KKKKKKK00Okxdllll:,..
.       .........',,,:ccllllooooxkxxxO0Okk000O0000000O00OOkxdoc,'...
.               ......',;;::cc::clllloddooxOxdxxkxxxxddollllc:'.
.                    .....'',,,,,,,;;;;;::cllc::ccc::;;,,,'...
.                        ..................'''..'''......
.
        </pre>
        <pre class="eye-four">
.
.
.
.                              ...',;;:cccccccc:;,..
.                          ..,;:cccc::::ccccclloooolc;'.
.                       .',;:::;;;;:loodxkOkkxxkxxdocccc;;'..
.                     .,;;;,,;:cox  ...WWMMMMWNNWWNNKkdolcccc:,.
.                  .',;;,',;lxo:   ...kMMMMMMMWNKKLlXNNkkdkoc:coo;.
.               ..,;:;,,,:ldl'    ...kkWXXNWMMMMXMMddkk.XWWN0d:;lkd,
.             ..,;;,,'':loc.      ..lKMMMNl.  .cOKNWNKKK;lxO0X0l,cxo,.
.           ..''....'cooc.         .cONMMX;   .lOXWNOKMk. ,ddx0Ooccl:.
.         ..'..  .':odc.            .x0KKKkolcldO00WNMk.  cxxxkkdl:,..
.       ..''..   ;dxolc;'            .lxxO0OkkxxO0WKKc. .;looolllol:'..
.      ..'..    .':lloolc:,..          'lxkkkkkOkd,..':clc:::;,,;:;,'..
.      ......   ....',;;;:ccc::;;,    ''',:lokdol:clllolc:;;,'........
.          .     ....'''',,,;;:cccccclllloooollllccc:c:::;,'..
.                  .......'',,,,,,,,;;::::ccccc::::;;;,,''...
.                    ...............''',,,;;;,,''''''......
.                         ............................
.
        </pre>
        <pre class="eye-five">
.
.
.
.                              ...',;;:cccccccc:;,..
.                          ..,;:cccc::::ccccclloooolc;'.
.                       .',;:::;;;;:loodxkOkkxxkxxdocccc;;'..
.                     .,;;;,,;:coxldKNWWWMMMMWNNWWNNKkdolcccc:,.
.                  .',;;,',;lxo:dXWMMMMMMMMWNk.. loOXNNNX0koc:coo;.
.               ..,;:;,,,:ldl'.kWMMMWXXNWMMMMXd..   ':dOXWWN0d:;lkd,
.             ..,;;,,'':loc.  lKMMMNl. .cOKNWNK:     ..';lx0OX0l,cxo,.
.           ..''....'cooc.    cONMMX;   .lOXWNO;          ,ddx0Ooccl:.
.         ..'..  .':odc.      .xOKKKkolcldO00xc.          .cxxxkkdl:,..
.       ..''..   ;dxolc;'      .lxxO0Okkxx00kc.         .;looolllol:'..
.      ..'..    .':lloolc:,..    'lxkkkkk0kd,      ..':clc:::;,,;:;,'..
.      ......   ....',;;;:ccc::;;,,:loddol:,,.,,;:clllolc:;;,'........
.          .     ....'''',,,;;:cccccclllloooollllccc:c:::;,'..
.                  .......'',,,,,,,,;;::::ccccc::::;;;,,''...
.                    ...............''',,,;;;,,''''''......
.                         ............................
.
        </pre>
    </div>
</ng-container>
