/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
}

body {
    background: #141414;
    color: #dadada;
    font-size: 1.32em;
    font-family: monospace;
}

a {
    color: #dadada;
}

body > div[app-root] {
  height: 100%;
}
