<div *ngIf="state.loggedInValue" class="logged-in">
    <p>Jste přihlášeni jako '{{ state.loggedInUsernameValue }}' kódem: {{ state.loggedInCodeValue }}</p>
    <a href="#" (click)="$event.preventDefault(); state.logOut()">Odhlásit se</a>
</div>
<div *ngIf="!state.loggedInValue" class="logged-out">
    <p *ngIf="!showLoginInput">Dotazník mám vyplněný, chci se <a href="#" (click)="$event.preventDefault(); showLoginInput = true; focusInput()">přihlásit</a> a něco v něm opravit.</p>
    <form *ngIf="showLoginInput && !loginFailed" (submit)="$event.preventDefault(); tryLogIn()">
        <label id="loginCode">Přihlásit se kódem:</label>
        <input #input type="text" name="loginCode" [(ngModel)]="loginCode" />
        <button type="submit">⏎ Enter</button>
    </form>
    <p *ngIf="loginFailed">{{ loginFailedMessage }}</p>
    <p><i>(kód pro přihlášení Vám vygenerujeme při odeslání dotazníku, tak si ho pak někam zkopírujte)</i></p>
</div>
