<p-scrollPanel #panel [style]="{width: '100%', height: '100%'}">
    <div *ngIf="content.length > 0" class="inner-pane" [innerHTML]="content"></div>
    <img *ngIf="imgUrl.length > 0" alt="" [src]="imgUrl" />
    <qrcode *ngIf="qrCodeValue.length > 0" [qrdata]="qrCodeValue" [width]="512" [errorCorrectionLevel]="'M'"></qrcode>

    <div app-image-slideshow class="img-list" *ngIf="imgUrlList.length > 0" [imgUrlList]="imgUrlList"></div>

</p-scrollPanel>
<div class="close" (click)="closeClicked()">
    <span class="text">Esc</span>
    <span class="cross">🗙</span>
</div>

