p-scrollPanel::ng-deep {
    display: block;
    width: 60%;
    height: 80%;
    position: absolute;
    left: 20%;
    top: 10%;

    .p-scrollpanel-bar.p-scrollpanel-bar-y {
        opacity: 1;
        width: 12px;
        border-radius: 0;
    }

    .p-scrollpanel-wrapper {
        border: 0.35em solid;
        width: calc(100% - 30px);
        box-sizing: border-box;
        background: #1a1a1a;

        .p-scrollpanel-content {
            height: 100%;
        }
    }

    .inner-pane {
        padding: 2.5em;
    }

    img {
        max-width: 100%;
        max-height: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0.25em;
    }

    qrcode {
        //display: block;
        width: 100%;
        height: calc(100% + 18px);
        display: flex;
        justify-content: center;
        align-items: center;

        canvas {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .img-list {
        height: 100%;
    }

}

.close {
    background: #1a1a1a;
    display: inline-block;
    padding: 0 0.7em;
    position: absolute;
    right: calc(20% + 3.5em);
    top: calc(10% - 0.65em);
    z-index: 1;
    cursor: pointer;
}
