.image-slideshow {
    width: 100%;
    height: 100%;

    .img {
        height: calc(100% - 2em);
        max-width: calc(100% - 12em);
        margin-left: 6em;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .prev,
    .next {
        position: absolute;
        top: 50%;
        cursor: pointer;

        .icon {
            font-size: 2em;
        }
    }

    .prev {
        left: 1em;
    }

    .next {
        right: 2em;
    }

    .progress-pane {

        position: absolute;
        width: calc(100% - 3em);
        bottom: 0.5em;
        left: 1em;

        .progress-bar {
            display: inline-block;
            width: calc(100% - 4em);
            height: 1em;

            .progress-fill {
                height: 1em;
                background: #dadada;
            }
        }

        .progress-label {
            display: inline-block;
            width: 3em;
            height: 1em;
            text-align: right;
        }

    }

}
