<div class="image-slideshow" *ngIf="imgUrlList.length > 0">
    <div class="img">
        <img alt="" [src]="urlCurrent" />
    </div>
    <span class="prev" (click)="prev()">
        <span class="icon">&#8592;</span> left
    </span>
    <span class="next" (click)="next()">
        right <span class="icon">&#8594;</span>
    </span>
    <div class="progress-pane">
        <div class="progress-bar">
            <div class="progress-fill" [style.width]="listProgressWidth"></div>
        </div>
        <div class="progress-label">{{ listProgressPercent }}%</div>
    </div>
</div>
