<div class="questionnaire-data-list">

    <h1>Dotazník - přehled</h1>

    <div app-login-section class="login-section"></div>

    <div class="exports">
        <a *ngIf="listExportUrl.length > 0" class="export-xlsx" [href]="listExportUrl" download>Exportovat do XLSX</a>
    </div>

    <p-table *ngIf="spec !== null" [value]="data" sortMode="multiple">
        <ng-template pTemplate="header">
            <tr>
                <th *ngFor="let field of spec.fields" pSortableColumn="{{ field.name }}">{{ field.name }} <p-sortIcon field="{{ field.name }}"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td *ngFor="let field of spec.fields">{{ getDataItemValue(product, field.name) }}</td>
            </tr>
        </ng-template>
    </p-table>

</div>
