$failure-color: #f74;
$success-color: #5f5;

.questionnaire {

    margin: auto;
    width: 60%;

    fieldset {
        border: 0;
    }

    .button-field {
        margin: auto;
        margin-top: 2em;
        position: relative;
    }

    button {
        min-width: 30em;
        height: 4em;
        display: block;
        margin: auto;
        background-color: #ffffff;
        color: #000000;
    }

    fieldset[disabled]::ng-deep {
        input, textarea, button {
            opacity: 0.5;
        }
    }

    .failure-message {
        position: fixed;
        top: 1em;
        background: rgba(0, 0, 0, 0.8);
        width: 80%;
        left: 0;
        padding: 1em;
        transform: translate(10%, 0);
        text-align: center;
        font-size: 1.3em;
        color: $failure-color;
    }

    .success-message {
        font-size: 1.3em;
        color: $success-color;
    }

    .kontakt {
      color: #dadada;
    }

}
