<div class="form-field form-field-{{ field.type }} {{ visible ? '' : 'hidden' }} {{ required ? 'required' : '' }}">

    <label *ngIf="field.label" for="{{ field.name }}">{{ field.label }}</label>

    <div *ngIf="field.description" class="description">{{ field.description }}</div>

    <div class="input-wrapper" [ngSwitch]="field.type">

        <input *ngSwitchCase="'textfield'"
            id="{{ field.name }}" type="text" name="{{ field.name }}"
            [ngModel]="field.defaultValue" #fieldElem="ngModel" [ngModelOptions]="{updateOn: 'blur'}" [disabled]="!visible"
            required minlength="2" (ngModelChange)="onChanged()" />

        <input *ngSwitchCase="'integer'"
            id="{{ field.name }}" type="number" name="{{ field.name }}" min="1"
            [ngModel]="field.defaultValue" #fieldElem="ngModel" [ngModelOptions]="{updateOn: 'blur'}" [disabled]="!visible"
            required minlength="2" (ngModelChange)="onChanged()" />

        <input *ngSwitchCase="'email'"
            id="{{ field.name }}" type="email" name="{{ field.name }}"
            [ngModel]="field.defaultValue" ngModel #fieldElem="ngModel" [ngModelOptions]="{updateOn: 'blur'}" [disabled]="!visible"
            required email (ngModelChange)="onChanged()" />

        <ng-container *ngSwitchCase="'textarea'">
            <textarea *ngIf="required" required
                id="{{ field.name }}" name="{{ field.name }}"
                [ngModel]="field.defaultValue" #fieldElem="ngModel" [ngModelOptions]="{updateOn: 'blur'}" [disabled]="!visible"
                (ngModelChange)="onChanged()"
                ></textarea>
            <textarea *ngIf="!required"
                id="{{ field.name }}" name="{{ field.name }}"
                [ngModel]="field.defaultValue" #fieldElem="ngModel" [ngModelOptions]="{updateOn: 'blur'}" [disabled]="!visible"
                (ngModelChange)="onChanged()"
                ></textarea>
        </ng-container>


        <select *ngSwitchCase="'select'"
            id="{{ field.name }}" name="{{ field.name }}"
            [ngModel]="field.defaultValue" #fieldElem="ngModel" [disabled]="!visible">
            <option value=""></option>
            <option *ngFor="let option of field.options" value="{{ option.label }}">{{ option.label }}</option>
        </select>

        <ng-container *ngSwitchCase="'radio'">
            <div class="input-group-wrapper">
                <div class="form-radio-wrapper" *ngFor="let option of field.options">
                    <label>
                        <input type="radio" name="{{ field.name }}" value="{{ option.value }}"
                            [ngModel]="field.defaultValue" #fieldElem="ngModel" (ngModelChange)="onChanged()" [disabled]="!visible" />
                        <span>{{ option.label }}</span>
                    </label>
                </div>
            </div>
        </ng-container>

        <ng-container *ngSwitchCase="'checkbox'">
            <div *ngIf="field.options.length > 0" class="input-group-wrapper">
                <div class="form-checkbox-wrapper" *ngFor="let option of field.options">
                    <label>
                        <input type="checkbox" name="{{ option.value }}" value="{{ option.value }}"
                            [ngModel]="option.defaultChecked" #fieldElem="ngModel" (ngModelChange)="onChanged()" [disabled]="!visible" />
                        <span>{{ option.label }}</span>
                    </label>
                </div>
            </div>
        </ng-container>
    </div>

    <div *ngIf="fieldElem?.control?.status === 'INVALID' && (fieldElem.control.dirty || fieldElem.control.touched || submitted)" class="alert alert-danger">
        <div *ngIf="fieldElem.control.errors?.['required'] ?? false">Povinné pole</div>
        <div *ngIf="fieldElem.control.errors?.['email'] ?? false">Nevalidní e-mail</div>
        <div *ngIf="fieldElem.control.errors?.['minlength'] ?? false">Nedostatečná délka</div>
    </div>

</div>
