<div class="questionnaire">

    <h1>Dotazník</h1>

    <div app-login-section class="login-section"></div>

    <form *ngIf="spec !== null && !submitSuccess" #form="ngForm" (ngSubmit)="onSubmit()">

        <fieldset #fieldset [attr.disabled]="submitting ? 'disabled' : null">

            <div class="form-fields">

                <div app-form-field *ngFor="let field of spec.fields" [field]="field" [parentForm]="this" [submitted]="this.form.submitted"></div>

                <div class="button-field">
                    <button type="submit">Odeslat</button>
                    <br>
                </div>

            </div>

        </fieldset>

    </form>

    <div *ngIf="submitSuccess" class="success-message">
        <p>Děkujeme za vyplnění, těšíme se na vás!</p>
        <p>Nezapomeňte si uložit kód.</p>
        <p class="kontakt">Kontakt na nás:</p>
        <p class="kontakt">rozpletenypribeh[at]protonmail[tečka]com</p>
        <br>
        <p><a href="/">← Zpět na hlavní stránku</a></p>
    </div>

    <div *ngIf="submitFailure" class="failure-message">
        <p>Spadl server atd. Prosíme napište/zavolejte, opravíme.</p>
        <p class="kontakt">Kontakt na nás:</p>
        <p class="kontakt">rozpletenypribeh[at]protonmail[tečka]com</p>
        <br>
        <p><a href="/">← Zpět na hlavní stránku</a></p>
    </div>

</div>
