.questionnaire-data-list::ng-deep {

    margin: auto;
    width: 100%;

    h1,
    .login-section {
        margin-left: 1rem;
    }

    .login-section {
        margin-bottom: 3rem;
    }

    .exports {
        position: absolute;
        right: 1rem;
        top: 1rem;
    }

    td {
        border: 1px solid;
        word-wrap: break-word;
    }

    th {
        word-wrap: break-word;
    }

}
