.form-field {
    margin-top: 2.5em;

    .description {
        margin-bottom: 0.5em;
        font-style: italic;
        font-size: 0.9em;
    }

    &.hidden {
        display: none;
    }

    &.required > label::after {
        position: absolute;
        right: -0.5em;
        content: "*";
        font-size: 1.5em;
        position: relative;
        color: lime;
    }

    label {
        display: block;
        margin-bottom: 0.5em;
    }

    input, select, textarea {
        width: 100%;
        height: 2.5em;
        border: 1px solid #aaaaaa;
        border-radius: 1px;
        padding: 0.5em 0;
        background-color: #333333;
        color: #dadada;
        font-family: monospace;
        font-size: 1em;
    }

    input, textarea {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    select {
        height: 3em;
    }

    .alert {
        margin-top: 0.3em;

        &.alert-danger {
            color: #f74;
        }
    }

    .form-radio-wrapper, .form-checkbox-wrapper {
        input[type="radio"], input[type="checkbox"] {
            width: auto;
            height: auto;
        }

        label {
            display: inline-block;
        }
    }

}
