<div [ngClass]="{'crt': enableCrtEffect}">
    <div app-home *ngIf="showHome"></div>
    <div app-form *ngIf="showQuestionnaire"></div>
    <div app-form-view *ngIf="showQuestionnaireData"></div>
    <div app-static-info *ngIf="showInfo"></div>
    <div app-static-info-pc *ngIf="showInfoPc"></div>
    <div app-qr-pozvanka *ngIf="showQrPozvanka"></div>
	<div app-wevp-tv *ngIf="showWevpTv"></div>
    <div app-song *ngIf="showSong"></div>
    <div app-dance *ngIf="showDance"></div>

</div>
