<div class="wevp-tv">

<video autoplay preload controls>
 <source src="https://gitlab.com/user5964/talos-svatba-web-resources/-/raw/main/WEVP_TV.mp4" />
 <track label="English" kind="captions" srclang="en" src="/assets/videos/EveningBroadcast.vtt" default>
</video>

</div>
