.static-info-pc {
    position: relative;

    p, h2, h3 {
      margin-left: 1em;
      margin-right: 1em;
    }

    h1 {
      text-align: center;
    }

    .hvezdicky {
      padding-left: 6rem;
    }

    .fialova {
      color: purple;
    }

    .levandulova {
      color: #B57EDC;
    }

    .cervena {
      color: #cc0000;
    }

    .seda {
      color: #979797;
    }

    .static-image-pc {
      max-width: 40vw;
      float: right;
      clear: right;
      margin-top: 1rem;
      margin-bottom: 1rem;
      margin-right: 2rem;
      margin-left: 1rem;
    }



}
