.box {
    display: flex;
    flex-flow: column;
    height: 100%;

    .row.header {
        flex: 0 1 auto;
        border-bottom: 1px #dadada dotted;
		margin-bottom: 3px;
    }

    .row.content {
        flex: 1 1 auto;
    }

    @media (max-width: 999px) {
        display: none;
    }
}

@media (min-width: 1000px) {
    .mobile-only {
        display: none;
    }
}

.home-wrapper {

    padding: 10px;

    &.box {
        height: calc(100% - 20px);
    }

    .hidden {
        display: none;
    }

    .big-eye {
        display: none;
    }

    &.welcome {

        .big-eye {
            display: block;
            width: 50%;
            position: absolute;
            top: 50%;
            transform: translate(40%, -50%);

            &.smaller-one {
                transform: translate(30%, -30%);
                top: 30%;
            }

            &.smaller-two {
                transform: translate(20%, -20%);
                top: 20%;
            }

            &.smaller-three {
                transform: translate(10%, -10%);
                top: 10%;
            }

            &.smaller-four {
                transform: translate(0%, 0%);
                top: 0%;
            }
        }

        .small-eye, .fixed-title, .manual-text, .welcome-message, .talos-terminal {
            display: none;
        }
    }

    &.home {

        .header {
            position: relative;

            .fixed-title {
                position: absolute;
                bottom: 0;
            }

            .manual-text {
                position: absolute;
                margin-top: 0;
                right: 0;
                padding-right: 20pt;
            }
        }

        .small-eye {
            width: 20%;
            display: inline-block;
        }
    }

    .fixed-title, .manual-text {
        display: inline-block;
    }

    .manual-text {
        right: 0;
    }

    .talos-terminal {
        display: block;
        height: 100%;
        white-space: pre;
    }

    .terminal-viewer {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.7);
    }

}
