<div class="home-wrapper box" [ngClass]="wrapperClass">

    <div app-bios-boot *ngIf="showBoot" (bootFinished)="bootFinished()"></div>

    <div app-big-eye #bigEye class="big-eye {{ bigEyeClassAppearance }}" [eyeClassAppearance]="bigEyeClassAppearance"></div>

    <div class="row header" #rowHeader>
        <div app-big-eye #smallEye class="small-eye" eyeClassAppearance="small"></div>
        <pre class="fixed-title">




     |~) _ _  _ | _ _|_ _  _  /   _  <a href="/wevp-tv" target="_blank">v</a>/|_ <a href="/dance" target="_blank">v</a> |_
     |~\(_)/_|_)|(/_ | (/_| |\/  |_)| ||_)(/_| | <a href="/song" target="_blank">.</a> . <a href="/assets/documents/viewsource.txt" target="_blank">.</a>
             |               /   |
        </pre>
        <pre class="manual-text">
/  Návod k použití                    \
/    1. Do terminálu napište: info    \
/    2. Přečtěte si zobrazený text    \
/    3. Přijeďte na naši svatbu :)    \
/  <a href="/info">Souhrn informací najdete i zde.</a>    \
<span style="color:#cc0000;">/ Prosíme vás, abyste si před svatbou \
/ udělali <b>antigenní nebo PCR test</b>,    \
/ pokud nejste očkovaní nebo jste     \
/ nedávno neměli covid. Děkujeme!     \</span>
        </pre>
    </div>

<!--
    <pre class="welcome-message">

                                                                          ---------------------------------
      |~) _ _  _ | _ _|_ _  _  /   _  <u>v</u>/|_  <u>v</u> |_              Příkazy:
      |~\(_)/_|_)|(/_ | (/_| |\/  |_)| ||_)(/_| |                           ahoj      pozdrav
              |               /   |                                         datum     datum
                                                                            info      praktické informace
                                                                          ---------------------------------

    </pre>
-->

    <div class="row content" [style.max-height]="maxTerminalHeight">
        <p-terminal #terminal class="talos-terminal" [welcomeMessage]="welcomeMessage" prompt="[guest@terminal]$ "></p-terminal>
    </div>

    <div app-terminal-viewer *ngIf="viewerContent.length > 0 || viewerImgUrl.length > 0 || viewerQrCodeValue.length > 0 || viewerImgUrlList.length > 0" class="terminal-viewer"
        [content]="viewerContent" [imgUrl]="viewerImgUrl" [qrCodeValue]="viewerQrCodeValue" [imgUrlList]="viewerImgUrlList"
        (closeRequested)="cancelBoot()"></div>

</div>

<div app-static-info class="mobile-only"></div>
