.bios-boot {
    position: absolute;
    height: calc(100% - 20px);
    background: #141414;
    width: calc(100% - 20px);

    & > pre {
        font-size: 1.72em;
    }

    .energy-star {
        width: 20%;
        height: auto;
        position: absolute;
        right: 0;
        image-rendering: crisp-edges;
    }

    .bios-person {
        float: left;
        width: 2.7em;
        image-rendering: crisp-edges;
    }

    .heading-text {
        margin-top: 5px;
        padding-left: 60px;
    }

    .footer-text {
        position: absolute;
        bottom: 0;
    }
}
