<div class="bios-boot">

    <img class="energy-star" alt="" src="/assets/images/energy_star.webp" />

    <img class="bios-person" alt="" src="/assets/images/bios_person.webp" />

    <pre class="heading-text">Award Modular BIOS v4.50G, An Energy Star Ally
Copyright (C) 1984-95, Award Software, Inc.</pre>

    <pre *ngIf="showType" class="type-text">ALI 1762 BIOS VER:2.1 95.8.7</pre>

    <pre *ngIf="showLoad" class="load-text">Main Processor : 80486DX2-S CPU at 66MHz
Memory Testing : {{memory}}K OK</pre>
    <pre *ngIf="showMessages">

Memory Frequency is at <b>200</b> MHz , Single Channel Mode
IDE Channel 0 Master : Western Digital Caviar 31600 HDD 128K
IDE Channel 0 Slave  : IBM Double Sided Diskette Drive YD-580 S/N 320/360KB
IDE Channel 1 Master : None
IDE Channel 1 Slave  : None</pre>

    <pre class="footer-text">Press <b>ESCAPE</b> to skip SETUP , press <b>F11</b> to enter TALOS PRINCIPLE
08/07/95-ALI-1429G-2C4K9A21-00</pre>

</div>
