.qr-pozvanka {
    position: relative;

    p {
      margin-left: 1em;
      margin-right: 1em;
    }

    h1 {
      margin-left: 1em;
      margin-right: 1em;
      text-align: center;
    }

    img {
      display: block;
      max-width: 90vw;
      margin-top: 2rem;
      margin-bottom: 2rem;
      margin-left: auto;
      margin-right: auto;
    }

}
