<div class="qr-pozvanka">

    <h1>Levhart obláčkový</h1>
        <img src="/assets/images/levhart_oblackovy.jpg" alt="Levhart obláčkový">
        <p><i>Levhart obláčkový je kočkovitá šelma, která se vymyká jednoduchému zařazení mezi velké či malé kočky. Třebaže má tělo dlouhé do 1 m a zkostnatělou jazylku, je dnes řazen do skupiny velkých koček. Stejně jako třeba tygr nebo jaguár má okrouhlé zorničky a odpočívá s předníma nohama i ocasem nataženýma na zemi. Díky krátkým nohám se dokáže prodírat hustým lesním podrostem i šplhat na stromy, kde odpočívá. Má vzhledem k celkové velikosti neobvykle dlouhé špičáky, které mu slouží jako užitečný nástroj k uchopení kořisti, když šplhá po stromech. O rodinném životě levhartů obláčkových v přírodě se ví velmi málo. Pravděpodobně jsou to samotáři a setkávají se jen v době námluv. Veškerou péči o mláďata obstarává samice. Zprvu je ukrývá v hustém podrostu, později je učí všemu potřebnému pro dospělý život. Mladí levharti jsou plně samostatní ve věku necelého roku.</i></p>
    <hr>

    <h1>Člunozobec africký</h1>
        <img src="/assets/images/clunozobec_africky.jpg" alt="Člunozobec africký">
        <p><i>Člunozobec je natolik zvláštní, že si vysloužil samostatnou čeleď v řádu brodivých. Najdeme u něj totiž podobnost jak s čápy, tak s volavkami a dokonce i s pelikány. Tento mohutný pták se nejraději zdržuje v bažinách s vysokým porostem rákosu či papyru. Nehybně číhá na ryby a podivně tvarovaným zobákem obratně chytá především kluzké bahníky či tuhé bichiry. Je to samotář a jen v době hnízdění lze zastihnout rodičovský pár pohromadě. Společně vybuduje hnízdo na zemi, pro které nejprve vyčistí plochu o průměru asi 3 m, zatímco vlastní stavba zabírá plochu o průměru kolem 1 m. Pak se rodiče střídají při zahřívání či naopak ochlazování vajec. Za horkých dnů přinášejí v zobáku vodu, kterou vejce postřikují, nebo přes ně navrství vlhkou trávu. Společně také zajišťují krmení a stínění mláďat. Vzhledem k potravní specializaci dospělých vyvrhují rodiče mláďatům natrávenou potravu. Vývin mláďat je pomalý a vzletná jsou až ve věku zhruba 100 dní.</i></p>
    <br>


    <p><a href="/">← Informace o svatbě</a></p>
    <br>
    <br>

</div>
