.static-info {
    position: relative;

    p, h2, h3 {
      margin-left: 1em;
      margin-right: 1em;
    }

    h1 {
      text-align: center;
    }

    .hvezdicky {
      text-align: center;
    }

    .fialova {
      color: purple;
    }

    .levandulova {
      color: #B57EDC;
    }

    .cervena {
      color: #cc0000;
    }

    .seda {
      color: #979797;
    }

    .static-image {
      display: block;
      max-width: 90vw;
      margin-top: 2rem;
      margin-left: auto;
      margin-right: auto;
    }



}
