<div class="static-info">

    <h1>Rozpletený příběh...</h1>
    <p><i>... praví, že Julča s Michalem budou mít svatbu.</i></p>
    <br>
    <hr>
    <p><i><b>Technické upozornění:</b> Zdá se, že na naše stránky koukáte na mobilu. Nebo možná na nějakém jiném malém zařízení.
    To je samozřejmě v pořádku, je to Vaše plné právo. Pro plnohodnotný zážitek však doporučujeme otevřít si naše stránky
    na počítači, protože jsou dimenzované pro poněkud větší obrazovky, a především pro obrazovky s orientací naležato.</i></p>
    <hr>

    <img src="/assets/images/my/foto2.jpg" alt="foto2" class="static-image">
    <br>

    <h2>ZÁKLADNÍ INFORMACE</h2>

    <p><span style="color:#cc0000;">Prosíme vás, abyste si před svatbou udělali <b>antigenní nebo PCR test</b>, pokud nejste očkovaní nebo jste nedávno neměli
      covid. Děkujeme!</span></p>

    <p><b>ふ ČAS:</b> 18.9.2021, obřad začne ve 13:00</p>
    <blockquote><b>う</b> Pokud chcete být na obřadu, prosíme, abyste dorazili <span class="cervena">nejpozději do 12:00</span></blockquote>

    <p><b>ふ MÍSTO:</b> Svatba proběhne v Penzionu Kačeří</p>
    <blockquote><b>う Adresa -></b> Lachov 14, 547 59 Teplice nad Metují</blockquote>

    <p><b>ふ UBYTOVÁNÍ:</b></p>
    <blockquote>
      <span class="cervena"><b>Aktuální stav:</b> lůžka přímo v objektu jsou v tuto chvíli přidělená našim rodinám, lidem s malými dětmi apod. Proto Vás prosíme, abyste
      pokud možno počítali buď s pokojem v penzionu poblíž, případně se spaním na karimatce na zemi v objektu nebo s postavením vlastního stanu.
      <br>
      Pokud věříte, že máte významný důvod spát na posteli přímo v objektu, napište nám to do poznámky v dotazníku, zkusíme pro Vás vymyslet vhodnou variantu.</span>
    </blockquote>
    <blockquote>
      <span class="seda"><b>う</b> Je možné se ubytovat na posteli přímo v objektu.
      Pokoje jsou různě velké - od 2 do 7 lůžek.
      Cena za lůžko je 150,- Kč za noc, v ceně je i peřina a povlečení.
      Počet lůžek je zde omezený, proto Vás žádáme o vyplnění <a href="/dotaznik" class="seda">dotazníku</a>,
      abychom znali Vaše preference a mohli podle toho zařídit ubytování.</span>
    </blockquote>
    <blockquote><b>う</b> Je možné postavit si venku na pozemku stan nebo spát na zemi/karimatce v penzionu.</blockquote>
    <blockquote><b>う</b> Pokud byste raději větší komfort, v okolí je několik dalších penzionů, kde Vám můžeme zajistit ubytování.
    Nejbližší je cca 300 metrů daleko, vzdálenější jsou zhruba do 2 kilometrů.
    Cena se pohybuje od 400,- do 570,- Kč na osobu za noc.</blockquote>
    <blockquote><i>*V <a href="/dotaznik">dotazníku</a>, na který najdete odkaz na několika místech těchto stránek, Vás prosíme o vyplnění Vašich preferencí,
      abychom podle toho mohli zařídit počet postelí, pokojů v okolních penzionech a podobně.</i></blockquote>

    <p><b>ふ DOPRAVA:</b></p>
    <blockquote><b>う Autem -></b> <i>Adresa místa: Lachov 14, Teplice nad Metují</i></blockquote>
    <blockquote><b>う Autobusem/vlakem -></b> <i>*brzy doplníme*</i></blockquote>

    <p><b>ふ PROGRAM:</b></p>
    <blockquote><b>う</b> 13:00 Svatební obřad</blockquote>
    <blockquote><b>う</b> 14:00 Společné focení</blockquote>
    <blockquote><b>う</b> 14:30 Oběd</blockquote>
    <blockquote><b>う</b> 15:15 Krájení dortu</blockquote>
    <blockquote><b>う</b> 16:30 Hra "rok s novomanželi"</blockquote>
    <blockquote><b>う</b> 17:00 Tanec novomanželů</blockquote>
    <blockquote><b>う</b> 18:00-19:00 Grilování</blockquote>
    <blockquote><b>う</b> 18:30 Balfolkový workshop</blockquote>
    <blockquote><b>う</b> 20:00 Zvedání bot a podobné věci</blockquote>
    <blockquote><b>う</b> 21:00 Koncert balfolkové skupiny BAL LAB</blockquote>
    <blockquote><b>う</b> ...?  P Á R T Y</blockquote>

    <p><b>ふ DRESSCODE:</b> Tématem svatby jsou "Příběhy 20. století". Níže naleznete detailnější informace o tom, co tím vlastně myslíme.</p>
    <blockquote><b>Na obřad si prosím vezměte formálnější oblečení, které na oslavu můžete vyměnit za cokoli, co uznáte za vhodně tématické.</b></blockquote>

    <p><b>ふ DARY:</b> Budeme Vám vděční za jakýkoli finanční příspěvek na naši svatební cestu, skleniček a lustrů máme dostatek. :)</p>

    <p><b>ふ JÍDLO:</b></p>
        <blockquote><b>う Oběd</b> - bude zajištěn pro každého. Naše rodiny a vybraní kamarádi budou mít vyhrazený prostor, protože jsou "speciální"...
          Ostatní budou mít pro oběd k dispozici celý zbytek Kačeří.</blockquote>
        <blockquote><b>う Raut</b> - nějaké jídlo zajistíme i po zbytek svatby. Budeme ovšem moc rádi, pokud přivezete jakékoli jídlo vlastní výroby nebo
          vlastního nákupu s sebou, protože máme rádi variabilitu a rádi poznáváme, jaké chutě mají jiní lidé!</blockquote>

    <p><b>ふ DOTAZNÍK:</b> Prosíme Vás, vyplňte nám <span class="cervena">do 30. června</span> svatební <a href="/dotaznik">dotazník</a>!
       Opravdu. Pomůže nám to zajistit Vám místo na přespání odpovídající Vašemu přání a tak podobně. To podtržené slovo <a href="/dotaznik">dotazník</a>
    je odkaz, který Vás přesměruje na jeho vyplnění. Po odeslání si někam zkopírujte vygenerovaný kód, abyste mohli dotazník případně později upravit nebo změnit.</p>

    <p><b>ふ KONTAKT:</b></p>
        <blockquote><b>う Na nás</b> - <i>rozpletenypribeh[at]protonmail[tečka]com</i></blockquote>
        <blockquote><b>う Na svědkyni nevěsty</b> - <i>[REDACTED]</i> (pro případ, že chcete řešit něco,
          o čem nevíme nebo nemáme vědět, a nebo nám třeba chcete připravit překvapení do programu)</blockquote>
        <blockquote>う Kontakt na naši svatební organizátorku Ciri v případě, že např. bloudíte: <i>[REDACTED]</i></blockquote>

    <img src="/assets/images/my/foto4.jpeg" alt="foto4" class="static-image">
    <br>

    <p class="hvezdicky">***</p>
    <h3>PŘÍBĚHY 20. STOLETÍ</h3>
    <p>... jsou tématem naší svatby.</p>
    <p>To ovšem nikomu nic moc neřekne. 20. století je tak dlouhé, rozmanité období plné neuvěřitelných činů, historických momentů i nepatrných,
      zato však nesčetných příkladů každodenní lidské existence naplněné pocity, myšlenkami, útrapami a radostmi,
      že to vlastně může znamenat úplně cokoli.</p>
    <p>Právě proto bychom byli rádi, abyste zapřemýšleli nad tím, co si vybavujete ze své minulosti a co se zároveň svým původem váže k minulému století.
      I pokud jste se třeba náhodou narodili později, jistě bude něco staršího než Vy, co je pro Vás důležité, významné nebo co máte rádi.</p>
    <p>Může to být cokoli. Oblíbená kniha, film, písnička... Starý hrneček po babičce, VHS kazeta s nějakým obskurním devadesátkovým
      filmem, rodinné fotoalbum, zkrátka cokoli co pro Vás má hodnotu a k čemu se vážou vzpomínky.</p>
    <p>Zkuste se k těmto věcem nebo vzpomínkám na okamžik vrátit a oživit je.
      A když už v tom budete, zkuste se tím třeba inspirovat i při výběru oblečení či doplňků, které si na svatbu vezmete.</p>
    <p><b>Konkrétní dresscode specifikace:</b> Tématickou barvou naší svatby bude <span class="fialova">fialová</span>, konkrétněji
      <span class="levandulova">levandulová</span> barva. Co se týče stylu oblečení, to je zcela na Vás.
      Od tradičních prvorepublikových šatů po devadesátkovou šusťákovku, vezměte si hlavně to, v čem se budete na naší svatbě cítit dobře. :)</p>
    <p>Na obřad však prosím volte formálnější oblečení, které na oslavu můžete vyměnit za cokoli, co uznáte za vhodně tématické.</p>
    <p class="hvezdicky">***</p>

    <img src="/assets/images/my/foto1.jpg" alt="foto1" class="static-image">
    <br>
    <br>
</div>
