.p-terminal {
/*     height: 23rem; */
    height: 100%;
    overflow: auto;
}

.p-terminal-prompt-container {
    display: flex;
    align-items: center;
}

.p-terminal-input {
    flex: 1 1 auto;
    border: 0 none;
    background-color: transparent;
    color: inherit;
    padding: 0;
    outline: 0 none;
}

.p-terminal-input::-ms-clear {
    display: none;
}


.p-terminal-input {
    position: absolute;
    width: 0;
    opacity: 0;
}

.p-terminal-content-caret {
    font-size: 170%;
    margin-left: -2pt;
    line-height: 14pt;
}

.p-terminal-content-caret::after {
    content: '▯'
}

.p-terminal-content-caret.focused::after {
    content: '▮'
}
